- page_title _("Discover Duo Pro")

.gl-grid.gl-grid-cols-1.lg:gl-grid-cols-2.gl-mt-7.gl-mx-auto{ class: 'gl-w-full lg:gl-w-16/20' }
  .container.gl-my-7
    = image_tag("duo_pro/logo.svg", width: 403)
    %h2.gl-text-size-h1.gl-mb-5{ class: 'gl-w-3/4' }
      = s_('DuoProDiscover|Ship software faster and more securely with AI integrated into your entire DevSecOps lifecycle.')
    .gl-flex.gl-flex-wrap.gl-flex-col.sm:gl-flex-row{ data: { testid: 'discover-duo-pro-heading-actions' } }
      = render Pajamas::ButtonComponent.new(href: group_settings_gitlab_duo_usage_index_path(@group),
        category: :primary, variant: :confirm,
        button_options: { class: 'gl-w-full gl-mb-3 sm:gl-w-auto sm:gl-mr-3 sm:gl-mb-0',
        data: { track_action: 'click_buy_now', track_label: duo_pro_trial_status_cta_label(@group) } }) do
        = _('Buy now')
      .js-hand-raise-lead-trigger{ data: discover_duo_pro_hand_raise_lead_data(@group) }
  .container.gl-p-0.lg:ml-6
    = link_to "https://player.vimeo.com/video/855805049?title=0&byline=0&portrait=0&badge=0&autopause=0&player_id=0&app_id=58479", target: '_blank' do
      = image_tag("duo_pro/video-thumbnail.png", class: 'gl-w-full gl-min-w-500 gl-rounded-base')

.gl-flex.gl-mx-auto{ class: 'gl-w-full md:gl-w-17/20' }
  .container.gl-mt-5{ data: { testid: 'why-section' } }
    %h3.gl-text-lg.gl-mb-6
      = s_('DuoProDiscover|Why GitLab Duo Pro?')
    .gl-grid.gl-gap-6.gl-grid-cols-1.md:gl-grid-cols-2
      = render Pajamas::CardComponent.with_collection(duo_pro_discover_card_collection(@group),
        card_options: { class: 'gl-rounded-lg gl-p-2' },
        body_options: { class: 'gl-pt-0' },
        header_options: { class: 'gl-bg-default gl-py-4 gl-font-bold gl-border-b-0' })

.gl-flex.gl-mx-auto{ class: 'gl-w-full md:gl-w-17/20' }
  .container.gl-mt-5{ data: { testid: 'core-feature-1' } }
    %h3.gl-text-lg.gl-mb-6
      = s_('DuoProDiscover|Boost productivity with smart code assistance')
    .gl-grid.gl-gap-6.gl-grid-cols-1.md:gl-grid-cols-4
      = render Pajamas::CardComponent.with_collection(duo_pro_core_section_one_card_collection(@group),
        card_options: { class: 'gl-h-full gl-flex gl-flex-col' },
        header_options: { class: 'gl-bg-default gl-py-4 gl-font-bold gl-border-b-0' },
        body_options: { class: 'gl-px-5 gl-py-4 gl-pt-0 gl-grow' },
        footer_options: { class: 'gl-bg-default gl-border-0 gl-px-5 gl-py-4 gl-mt-auto' })

.gl-flex.gl-mx-auto{ class: 'gl-w-full md:gl-w-17/20' }
  .container.gl-mt-7{ data: { testid: 'discover-duo-pro-footer-actions' } }
    = render Pajamas::ButtonComponent.new(href: group_settings_gitlab_duo_usage_index_path(@group),
      category: :primary, variant: :confirm,
      button_options: { class: 'gl-w-full gl-mb-3 sm:gl-w-auto sm:gl-mr-3 sm:gl-mb-0',
      data: { track_action: 'click_buy_now', track_label: duo_pro_trial_status_cta_label(@group) } }) do
      = _('Buy now')
    .js-hand-raise-lead-trigger{ data: discover_duo_pro_hand_raise_lead_data(@group) }
