- merge_requests_count = Projects::AllMergeRequestsCountService.new(project).count
- issues_count = Projects::AllIssuesCountService.new(project).count
- forks_count = Projects::ForksCountService.new(project).count

= render Pajamas::CardComponent.new(header_options: { class: 'gl-px-5 gl-py-4 gl-flex-col' }, body_options: { class: 'gl-bg-red-50 gl-px-5 gl-py-4' }) do |c|
  - c.with_header do
    %h4.gl-text-base.gl-leading-24.danger-title.gl-m-0= _('Delete this project')

  - c.with_body do
    %p= permanent_delete_message(project)
    #js-project-delete-button{ data: { form_path: project_path(project, permanently_delete: true), confirm_phrase: delete_confirm_phrase(project), is_fork: project.forked?.to_s, issues_count: number_with_delimiter(issues_count), merge_requests_count: number_with_delimiter(merge_requests_count), forks_count: number_with_delimiter(forks_count), stars_count: number_with_delimiter(project.star_count) } }
